/* intégration de la font nécessaire*/

@font-face {
  font-family: "Raleway", verdana, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");
  font-weight: normal;
  font-style: normal;
}

/*  Définition des paramètres CSS globaux  */

* {
  font-family: "Raleway", verdana, sans-serif;
}

/*  Définition des paramètres pour les écris   */
p {
  font-size: 1em;
  text-align: justify;
}

.bold {
  font-weight: bold;
}

a {
  font-size: 1em;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
  text-align: justify;
}

ul {
  list-style-type: none;
}

span > i[class*="fas"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  text-align: center;
}

/*  Paramétrage des propiétés de la trame générale et éléments communs*/
body {
  width: 100%;
  margin: 0px;
}

/*  Mise en page du container qui accueil le contenu des pages*/

main {
  width: 98%;
  margin: 0px auto 0px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
