/***********************************/
/* Changement des tailles de police*/
/***********************************/

p {
  font-size: 0.9em;
  text-align: justify;
}

a {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

/* Mise en forme de la structure globale*/

header,
main,
footer {
  width: 100%;
}

/* Mise en forme des box hotel : le commun à toutes*/

div[class*="Hebergements__"] {
  padding: 10px;
}

.Hebergements__liste {
  width: 62%;
  margin-right: 20px;
}

.Hebergements__liste .Hebergements--container {
  width: 100%;
}

.Hebergements__liste .Hebergements--container > a {
  width: 45%;
  margin: 10px 15px 10px 15px;
}

.Hebergements__liste .Hebergements--container > a:hover {
  margin: 5px 20px 15px 10px;
}

.Hebergements__toppopulaire {
  padding-bottom: 75px;
  margin-right: 20px;
}

.Hebergements__toppopulaire .Hebergements--container > a {
  width: 90%;
}
